body {
    background: lightcyan;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows:2fr 2fr auto;
    grid-template-areas:"header header" "more buttons" "pics pics";
}

.section {
    padding: 10px;
}

header {
    font-size: 50px;
    border: 1px black solid;
    grid-area: header;
}

#add-buttons {
    border: 1px magenta solid;
    grid-area: more;
}

#buttons-zone {
    border: 1px lime solid;
    grid-area: buttons;
}

#place-pics-here {
    border: 1px blue solid;
    display: flex-box;
    grid-area: pics;
}
